body {
    background-color: rgb(250, 255, 252);
}
.landingpage{
    background-image: url(/Images/h_img.jpg);
    background-position: center;
    color: rgb(250, 255, 252);
    font-weight: 900;
    
}
.services{
    background-image: url(/Images/s_image.jpg);
    background-size: cover;
    font-weight: 500;
    color: white;
    height: 300px;
}

.portfolio {
    padding: 20px;
    margin: 200px;
}
.portfolio > .row2{
  padding-top: 220px;
}
.form{
    background-image: url(/Images/c_image.jpg);
    background-position: center;
    color: white;
    padding: 100px;
}
.form h1{
    text-align: center;
}
.contact{
    color: white;
    opacity: 80%;
}
.form input{
    background-color: transparent;
    border-color: white;
}
.form textarea{
    background-color: transparent;
    border-color: white;
}