body {
    background-color: rgb(250, 255, 252);
}
.landingpage{
    background-image: url(../Images/h_img.jpg);
    background-position: center;
    color: rgb(250, 255, 252);
    font-weight: 900;
    
}
.services{
    background-image: url(../Images/s_image.jpg);
    background-size: cover;
    font-weight: 500;
    color: white;
    height: 300px;
}
.portfolio {
    padding: 20px;
    padding-top: 20px;
    margin: 200px;
}

.port:hover {
    opacity: 0.7;
}

.portfolio > .row2{
  padding-top: 220px;
  padding-bottom: 50px;
}
.data > .form{
    padding-top: -325px;
}
.form{
    background-image: url(../Images/c_image.jpg);
    background-position: center;
    color: white;
    height: 600px;
    padding: 150px;
}
.form h1{
    text-align: center;
}
.contact{
    color: white;
    opacity: 80%;
}
.form input{
    background-color: transparent;
    border-color: white;
    color: white;
    box-shadow: none;
}
.form textarea{
    background-color: transparent;
    border-color: white;
    color: rgb(250, 255, 252);
}
#submit {
    background: transparent;
   
}

.footer{
    text-align: center;
    padding: 15px;
    word-spacing: 10px;
}
.footer .fa{
    height: 28px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;

}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-google {
    background: #dd4b39;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}
  
.fa-skype {
    background: #00aff0;
    color: white;
}

#mouse{
    padding-top : 20px;
    margin-top: 20px;
    padding-bottom: 20px; 
}
#mouse {
    animation: bounce 3s infinite;
  }@keyframes bounce {
    40% {
      transform: translateY(-50px);
    }
    60% {
      transform: translateY(-30px);
    }
}
#designpg{
    display: none;
}
#devpg{
    display: none;
}
#productpg{
    display: none;
}