body {
    background-color: rgb(250, 255, 252);
}
.landingpage{
    background-image: url(../Images/h_img.jpg);
    background-position: center;
    color: rgb(250, 255, 252);
    font-weight: 900;
    
}
.services{
    background-image: url(../Images/s_image.jpg);
    background-size: cover;
    font-weight: 500;
    color: white;
    height: 300px;
}
.portfolio {
    padding: 20px;
    margin: 200px;
}
.portfolio > .row2{
  padding-top: 220px;
  padding-bottom: 50px;
}
.data > .form{
    padding-top: -325px;
}
.form{
    background-image: url(../Images/c_image.jpg);
    background-position: center;
    color: white;
    height: 600px;
    padding: 150px;
}
.form h1{
    text-align: center;
}
.contact{
    color: white;
    opacity: 80%;
}
.form input{
    background-color: transparent;
    border-color: white;
}
.form textarea{
    background-color: transparent;
    border-color: white;
}
​.footer> .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

